.history/
.vscode/
# secrets
result*
.old/
node_modules/
/pkgs/cli/e2b-cli/package-lock.json
.cq/
cloudquery.log
pb_data/
data/
pynixify/
.github/styles/*
!.github/styles/config
.direnv
tmp
.env
nixcache.log
__pycache__
