name: build
on: {workflow_dispatch, push: {branches: [main]}, pull_request}
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - m1
          # - macos-13
    name: nix (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: cachix/install-nix-action@v24
      - uses: cachix/cachix-action@master
        with:
          skipAddingSubstituter: ${{ matrix.os == 'm1' && 'true' || 'false' }}
          name: jacobi
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix --show-trace build .#__j_custom .#zaddy .#zaddy-browser
