name: check
on: {workflow_dispatch, push: {branches: [main]}, pull_request}
jobs:
  prettier:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: cachix/install-nix-action@v26
      - run: nix run .#nodePackages.prettier -- --config ./prettier.config.js --check .
  nixpkgs-fmt:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: cachix/install-nix-action@v26
      - run: nix run .#nixpkgs-fmt -- --check .
  statix:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: cachix/install-nix-action@v26
      - run: nix run .#statix -- check
  deadnix:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: cachix/install-nix-action@v26
      - run: nix run .#deadnix -- -f -_ -l .
  vale:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: cachix/install-nix-action@v26
      - run: nix profile install .#{vale,fd}
      - run: vale sync && vale $(fd --glob --hidden '*.md')
