name: foundry
on: { workflow_dispatch, push: { branches: [main] } }
jobs:
  build_v2:
    strategy:
      fail-fast: false
      matrix:
        image:
          - certbot
          - certbot_aws
          - certbot_cloudflare
          - certbot_google
          - certbot_porkbun
          - curl
          - argohex
          - hex
          - k8s_aws
          - k8s_gcp
          - nix
          # - pypi
          - python311
          - python312
          - python313
          - zaddy
    name: foundry-${{ matrix.image }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            extra-substituters = https://cache.g7c.us
            extra-trusted-public-keys = cache.g7c.us:dSWpE2B5zK/Fahd7npIQWM4izRnVL+a4LiCAnrjdoFY=
      - run: nix run .#skopeo -- login -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
      - run: nix run --impure .#foundry.${{ matrix.image }}.copyToRegistry
      - run: |
          export IMAGE="docker://$(nix eval --impure --raw .#foundry.${{ matrix.image }}.imageName)"
          export TAG="$(nix eval --impure --raw .#foundry.${{ matrix.image }}.imageTag)"
          skopeo --insecure-policy copy --retry-times 2 "$IMAGE:$TAG" "$IMAGE:$(date +"%F")"
          skopeo --insecure-policy copy --retry-times 2 "$IMAGE:$TAG" "$IMAGE:latest"
