name: check for package updates
on: { workflow_dispatch, schedule: [cron: '0 0 * * *'] }
jobs:
  update:
    strategy:
      fail-fast: false
      matrix:
        attrs:
          - attr: fake-gcs-server
            cmd: nupdate
          - attr: slack-notifier
            cmd: nupdate
          - attr: supabase-cli-stable
            cmd: nupdate_latest_github -- --owner supabase --repo cli
    runs-on: ubuntu-24.04
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            extra-substituters = https://cache.g7c.us
            extra-trusted-public-keys = cache.g7c.us:dSWpE2B5zK/Fahd7npIQWM4izRnVL+a4LiCAnrjdoFY=
      - run: nix run .#${{ matrix.attrs.cmd }} ${{ matrix.attrs.attr }}
      - uses: peter-evans/create-pull-request@v8.1.0
        id: pr
        with:
          delete-branch: true
          author: jacobi petrucciani <j@cobi.dev>
          title: automatic update (${{ matrix.attrs.attr }})
          commit-message: automatic update (${{ matrix.attrs.attr }})
          branch: automatic-update-${{ matrix.attrs.attr }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: automerge
        if: ${{ steps.pr.outputs.pull-request-number }}
        env:
          PR_URL: ${{ steps.pr.outputs.pull-request-url }}
        run: nix run .#github_automerge
