name: check for flake updates
on: {workflow_dispatch, schedule: [cron: '0 0 * * *']}
jobs:
  check-for-updates:
    runs-on: ubuntu-24.04
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: cachix/install-nix-action@V28
      - run: nix flake update
      - uses: peter-evans/create-pull-request@v7.0.1
        id: pr
        with:
          delete-branch: true
          author: jacobi petrucciani <j@cobi.dev>
          title: automatic update
          commit-message: automatic update
          branch: automatic-update
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - run: gh pr merge --auto --squash ${{ steps.pr.outputs.pull-request-url }}
